.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;

}

.item{
    box-sizing: border-box;
    border: 1px solid purple;
    background-color: rgb(195, 171, 219);
    width: 200px;
    height: 100px;
    justify-content: flex-start;
    align-items: flex-start;
    
}